<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.StudentDocumentMapper">

    <insert id="addStudentDocument" parameterType="com.Data.StudentDocument">
        INSERT INTO StudentDocument (studentID, DocumentID) VALUES (#{studentID}, #{documentID})
    </insert>

    <delete id="deleteStudentDocument" parameterType="map">
        DELETE FROM StudentDocument WHERE studentID = #{studentID} AND DocumentID = #{documentID}
    </delete>

    <select id="getStudentDocumentsByStudentID" resultMap="studentDocumentResultMap" parameterType="String">
        SELECT * FROM StudentDocument WHERE studentID = #{studentID}
    </select>

    <select id="getStudentDocumentsByDocumentID" resultMap="studentDocumentResultMap" parameterType="int">
        SELECT * FROM StudentDocument WHERE DocumentID = #{documentID}
    </select>

    <resultMap id="studentDocumentResultMap" type="com.Data.StudentDocument">
        <id property="studentID" column="studentID"/>
        <id property="documentID" column="DocumentID"/>
    </resultMap>

</mapper>
